*{
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
    outline: 0;
}

body{
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiased !important;
    font-family: sans-serif;
    height: 100%;
}

a{
    text-decoration: none;
    color:#333;
}

li{
    list-style: none;
}

i{
    margin-right: 5px;
}

input{
    font-size:1em;
}

input,select{
    padding: 20px;
    background: #f7f7f7;
}

label .label{
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 0.675em;
}

.actions{
    display: flex;
    flex-wrap: wrap;
}

label{
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

thead tr{
    height: 50px;
    background: #00cec9;
    color: #fff;
    font-weight:bold;
}

tbody tr{
    height: 50px;
}

td{
    padding-left:10px;
}

.form-search{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

tbody tr:nth-child(2n+0){
    background: #f7f7f7;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex .box50 {
    flex-basis: calc(50% - 40px);
    margin: 20px;
}

.content{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.btn{
    padding: 15px 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn-info{
    background: #0984e3;
    color: #fff;
}

.btn-info:hover{
    background: #74b9ff;
    transition: 0.2s;
}

.btn-danger{
    background: #d63031;
    color:#fff;
}

.btn-danger:hover{
    background: #ff7675;
    transition: 0.2s;
}

.btn-warning{
    background: #fdcb6e;
    color:#fff;
}

.btn-warning:hover{
    background: #ffeaa7;
    transition: 0.2s;
}

.btn-icon{
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-icon i{
    padding:5px 5px;
    margin: 0;
}

.radius5{
    border-radius: 5px;
}
.radius50{
    border-radius: 50%;
}

.navigation{
    display: flex;
    flex-direction: row;
    background: #2d3436;
}

.navigation-item{
    padding: 20px 0;
}

.navigation-item:hover{
    
}

.navigation a{
    font-weight: 800;
    font-size: 0.875em;
    padding: 20px;
    color: #fff;
}

.navigation a:hover{
    background: #fff;
    transition: 0.2s;
    color: #333;
}

@media (max-width: 29em) {
    .flex .box50{
        flex-basis: 100% !important;
    }
}